@page
@model blog.Web.Pages.Home.HomePageModel
@{
    ViewData["Title"] = "HomePage";
    Layout = "_MyLayout";
}

@section style
{
}

<div class="middle-header">
    <div class="main">
        <!-- TYPER -->
        <h1 class="aqua" style="font-size:50px;margin-bottom:89px;font-weight:800;">BLOG PROJECT ABP</h1>
        <!-- TYPER END -->
        <div class="line"></div>
        <p>“It's fine to celebrate success but it is more important to heed the lesson of failure.” ― Bill Gates.</p>
        <button>Welcome to blog <i class="far fa-arrow-alt-circle-down"></i></button>
    </div>
</div>
